/* Center the spinner */
.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* Error message styles */
.error-message {
  color: red;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
}

/* Loading message */
.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.job-card {
  border-color: darkgray;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
}

.job-card:hover {
  border-color: #68e76f;
}

.actions-right {
  display: flex;
  justify-content: flex-end;
}

.bid-button {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.bid-button:hover {
  background-color: #388e3c;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
